Release
Release-XP
Debug
dist
.dep.inc
Thumbs.db
/WargameEngine/freetype-2.6/objs
*.sdf
*.user
*.suo
/WargameEngine/WargameEngine/WargameEngine/Debug_GLFW
/WargameEngine/WargameEngine/WargameEngine/DebugDirectX
