Release
Release-XP
Debug
dist
.dep.inc
Thumbs.db
/libs/freetype2/objs
*.sdf
*.user
*.suo
/WargameEngine/Debug_GLFW
/WargameEngine/DebugDirectX
/WargameEngine/ReleaseDirectX
/WargameEngine/Debug_GLUT
/WargameEngine/Release_GLFW
/WargameEngine/Release_GLUT
/WargameEngine/Release-XP_GLFW
/WargameEngine/Release-XP_GLUT
/WargameEngine/Release-XP
/WargameEngine/Release-XPDirectX
*.opendb
*.ipch
/libs/bullet/bin
/libs/bullet/build3/vs2010/obj
*.db
/WargameEngineMobile/WargameEngineMobileGoogleVR/app/build
.workspace
/WargameEngineMobile/WargameEngineMobileGoogleVR/.gradle
/WargameEngineMobile/WargameEngineMobileGoogleVR/build/intermediates/dex-cache/cache.xml
/WargameEngineMobile/WargameEngineMobileGoogleVR/app/src/main/jniLibs
/WargameEngine.opensdf
/WargameEngine.sdf